/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}
body {
  font-size: 15px;
    min-width: 320px;
    position: relative;
    line-height: 1.6;
    font-family: "CenturyGothicRegular", sans-serif;
    overflow-x: hidden;
}

header {
  border-bottom: 1px solid #E1E1E1;
}
/*Первый контейнер*/
.links {
    background: #f5f5f5;
    height: 35px;
}
.container {
    width: 1170px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.links ul {
    padding: 6px 0 9px;
    display: flex;
    justify-content: flex-end;
    font-size: 0;
}
.links li {
    text-align: left;
    margin: 0 5px 0 25px;
}
.bord {
    border-bottom: 1px dotted #000;
}
.links a {
    display: inline-block;
    color: #000;
    font-size: 12px;
}
.links a:hover {
    transition: all .3s;
    text-decoration: none;
    color: #77BD59;
}

/*Второй контейнер*/
.col-xl-2, .col-xl-3 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.row {
  margin: 7px 0 15px 0;
}
.logo {
  margin: 15px 0 0 0;
}
.address {
  margin: 19px 0 0 40px;
  font-size: 15px;
}
.tel {
   margin: 28px 0 0 15px;
   font-size: 14px;
}
.ya-phone-1 {
  display: inline-block;
}
.ya-phone-1 a {
  color: #333;
  font-size: 17px;
  transition: .3s;
}
.ya-phone-1 a:hover {
  text-decoration: none;
  color: #EE5C2B;
  transition: .3s;
}
.email {
   margin: 29px 0 0 50px;
   font-size: 15px;
}
.email a {
  color: #EE5C2B;
  transition: .3s;
  text-decoration: underline;
}
.email a:hover {
  text-decoration: none;
  border-bottom: none;
  transition: .3s;
  color: #EE5C2B;
}

/*Стилизовка меню*/
main {
  background: url(../img/background.png) center / cover  no-repeat;
  border-bottom: 1px solid #E1E1E1;
  height: 113%;
}
.menu .container {
  padding: 0!important;
}
.menu .container li {
  display: inline-block;
  margin: 15px 20px 0 0;
  font-size: 16px;
}
.menu .container li a {
  color: #333;
  font-weight: 700;
  transition: .3s;
  padding: 0 0 13px 0;
}
.menu .container ul {
  padding: 0!important;
  margin: 0!important;
}
.menu .container li a:hover {
  border-bottom: 4px solid #F7A52B;
  transition: .3s;
  text-decoration: none;
}

/*Основной блок*/
main .container {
  padding: 0!important;
}
.row-2 {
  margin: 30px 0 0 0;
}
.row-2 ul {
  margin: 0 4px 0 0;
  display: inline-block;
}
.row-2 a {
  color: #333;
}
.row-2 a:hover {
  color: #333;
}
.row-2 p {
  display: inline-block;
  color: #949494;
}
main {
  text-align: center;
  height: 100%;
}
main h1 {
  display: inline-block;
  margin: 50px 0;
  font-size: 30px;
  font-weight: 400;
  font-family: "CenturyGothicRegular", sans-serif;
}
/*Стилизация боксов*/
.article-box {
  padding: 0!important;
  position: relative;
}
.article-box img {
  max-width: 100%;
}
.article-box a {
  color: #fff;
}
.article-box a:hover {
  color: #fff;
}
.batn {
  background-color: #EC4A14;
  display: inline-block;
  padding: 13px 25px;
  transition: .3s;
  position: absolute;
  top: 76%;
  left: 5%;

}
.batn:hover {
   box-shadow: 3px 3px #525252;
   transition: .3s;
}
.article-box2, .article-box3 {
  padding: 0!important;
   display: inline-block;
   margin: 35px 0px;
}
.article-box2 {
  float: left;
}
.article-box3 {
  float: right;
}
.article-box3 img {
  float: right;
}
.email {
  display: inline-block;
   margin: 29px 0 0 50px;
   font-size: 15px;
}
.email a {
  color: #EE5C2B;
  transition: .3s;
  text-decoration: underline;
}
.email a:hover {
  text-decoration: none;
  border-bottom: none;
  transition: .3s;
  color: #EE5C2B;
}
.text {
  margin: 30px 0;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 10px;
  color: #766961;
  max-width: 770px;
}
.btn {
    display: inline-block;
    background: none;
    transition: all .1s;
    color: #EE5C2B;
    text-align: center;
    padding: 7px 15px;
}
.call i {
  color: #EE5C2B;
}
.popup-with-form {
  float: right;
  border: 1px solid #EE5C2B;
  margin: 20px 0 0 0;
}

/*Адаптив*/
@media (min-width: 1201px) and (max-width: 1880px) {
  main {
  text-align: center;
  height: 110%;
}
}
@media (min-width: 993px) and (max-width: 1200px) {
  .address {
    margin: 22px 0 0 40px;
  }
  .tel {
    margin: 22px 0 0 30px;
  }
  .ya-phone-1 a {
    font-size: 15px;
  }
  .email {
    margin: 20px 0 0 25px;
  }
  .menu .container li {
  display: inline-block;
  margin: 15px 7px 0 0;
  font-size: 14px;
}
  main {
     height: 93%;
  }
  main h1 {
    margin: 20px 0 50px 0;
  }
  .article-box2, .article-box3 {
   display: inline-block;
   margin: 35px 0px;
}
  .article-box2 img, .article-box3 img {
    max-width: 100%;
  }
   .article-box2 img {
    padding-right: 15px;
   }
   .article-box3 img {
    padding-left: 15px;
   }
   .menu .container {
    text-align: center;
   }
   .popup-with-form {
    float: left;
    margin: 10px 0 0 30px;
   }
}
.menu_burger {
    display: none;
    }
@media (max-width: 992px) {
  body.lock {
    overflow: hidden;
  }
  .container {
    position: relative;
    z-index: 1;
  }
  main h1 {
    position: relative;
    z-index: 1;
  }
  .menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    padding:0 ;
    text-align: center;
    transition: all .3s;
  }
  .menu.active {
    top: 0;
    transition: all .3s;
    margin-bottom: 10px;
    position: relative;
    z-index: 2;
  }
  .row-2 {
  }
  .menu_burger {
    display: block;
    position: relative;
    width: 30px;
    height: 25px;
    margin: 20px 0 0 90px;
  }
  .menu_burger:before, .menu_burger:after {
    content: '';
    background-color:#EE5C2B;
    position: absolute;
    width: 100%;
    height: 4px;
    left: 0;
  }
  .menu_burger span {
    position: absolute;
    background-color: #EE5C2B;
    left: 0;
    width: 100%;
    height: 4px;
    top: 11px;
    transition: all .5s;
  }
  .menu_burger:before {
    top: 0;
  }
  .menu_burger:after {
    bottom: 0;
  }
  .menu_burger.active:before {
    transform: rotate(45deg);
    top: 11px;
  }
  .menu_burger.active:after {
    transform: rotate(-45deg);
    bottom: 10px;
  }
  .menu_burger.active span {
    transform: scale(0);
    transition: all .5s;
  }
}
@media (min-width: 769px) and (max-width: 992px) {
  .logo img {
    height: 70%;
  }
  .logo {
    text-align: center;
  }
  .address {
    margin: 10px 0 0 0px;
  }
  .tel {
    margin: 29px 0 0 5px;
  }
  .email {
    margin: 6px 0 0 0!important;

  }
  main {
      height: 71%;
  }
  main h1 {
    margin: 0 0 40px 0;
  }
  .article-box2 img, .article-box3 img {
    max-width: 100%;
  }
  .article-box2 img {
    padding-right: 15px;
   }
   .article-box3 img {
    padding-left: 15px;
   }
   footer 
   .logo img{
    height: 40%;
    }
   .address {
    margin: 10px 0 0 25px;
  }
  .tel {
    margin: 20px 0 0 5px;
  }
  .email {
    margin: 0 0 0 25px;
  }
  .call {
    margin: 15px 0 0 0;
  }
  .popup-with-form {
    float: left;
    margin: 10px 0 0 30px;
   }
}
@media (min-width: 576px) and (max-width: 768px) {
  .links {
    display: none;
  }
  .logo img {
    height: 70%;
  }
  .logo {
    text-align: center;
  }
  .address {
    margin: 0 0 0 10px!important;
    font-size: 11px;
  }
  .tel {
    margin: 4px 0 0 15px!important;
  }
  .tel span {
    display: none;
  }
  .tel a {
    font-size: 13px;
  }
  .email {
    margin: 0 0 0 0!important;
  }
  main {
      height: 54%;
      padding: 0;
  }
  .row-2 p {
    margin: 0;
  }
  main h1 {
    margin: 0 0 25px 0;
  }
  .batn {
    top: 77%;
    padding: 7px 12px;
    font-size: 12px;
  }
  .article-box2 img, .article-box3 img {
    max-width: 100%;
  }
  .article-box2 img {
    padding-right: 15px;
   }
   .article-box3 img {
    padding-left: 15px;
   }
   footer .logo img{
    height: 30%;
    }
   .address {
    margin: 10px 0 0 25px;
    font-size: 11px;
  }
  .tel a {
    font-size: 13px;
  }
  .tel {
    margin: 10px 0 0 5px;
  }
  footer.email {
    margin: 0 0 0 25px;
  }
  .call {
    padding: 0!important;
    margin: 5px 0 0 0;
  }
  .popup-with-form {
    float: left;
    margin: 10px 0 0 5px;
   }
}
@media (min-width: 405px) and (max-width: 575px) {
  .links {
    display: none;
  }
  .logo img {
    height: 70%;
  }
  .logo {
    text-align: center;
  }
  .logo {
    padding: 0 0 0 10px!important;
  }
  .address {
    margin: 0 0 0 20px!important;
    font-size: 11px;
  }
  .tel {
    margin: 13px 0 0 5px!important;
  }
  .tel span {
    display: none;
  }
  .tel a {
    font-size: 13px;
  }
  .email {
    margin: 0 0 0 20px!important;
  }
  .email a {
    font-size: 13px;
  }
  .row-2 p {
    margin: 0;
  }
  .batn {
    top: 74%;
    left: 8%;
    padding: 7px 12px;
    font-size: 8px;
  }
  main {
      padding: 0 0 0 0;
      background-image: none;
      height: 83%;
      width: 110%;
  }
  main .container {
    text-align: center;
  }
  main h1 {
    margin: 0 0 25px 0;
  }
  .article-box {
    padding: 0 15px 0 15px!important;
  }
  .article-box2 img, .article-box3 img {
    max-width: 100%;
  }
  .article-box2 {
    padding: 0 15px 0 15px! important;
  }
   .article-box3 {
    padding: 0 15px 0 15px!important;
    margin: 0!important;
   }
   footer .logo img{
    height: 70%;
    }
   .address {
    margin: 7px 0 0 25px!important;
    font-size: 11px;
  }
  .tel a {
    font-size: 11px;
  }
  .tel {
    margin: 17px 0 0 5px!important;
  }
  footer.email {
    margin: 0 0 0 25px;
  }
  .call {
    padding: 0!important;
    margin: 0;
  }
  .popup-with-form {
    float: left;
    margin: 10px 0 0 5px;
   }
    header {
    border: none;
  }
}
@media (max-width: 405px) {
  .links {
    display: none;
  }
  header .container {
    width: 130%;
  }
  .logo {
    text-align: center;
  }
  .address {
    font-size: 12px;
    margin: 15px 0 0 15px;
  }
  .tel {
    margin: 25px 0 0 10px ;
  }
  .tel span {
    display: none;
  }
  .tel a {
    font-size: 12px;
  }
  .email {
    margin: 0 0 0 20px;
  }
  .email a {
    font-size: 12px;
  }
  main {
  background-image: none;
  width: 130%;
  border: none;
  max-height: 80%;
  }
  main h1 {
    margin: 0 0 15px 0;
  }
  .row-2 p {
    margin: 0;
  }
  .article-box2 img, .article-box3 img, .article-box img {
    max-width: 100%;
    padding: 0 15px 0 15px;
  }
  .article-box3 {
    margin: 0;
  }
  footer .container {
    width: 130%;
  }
  .batn {
    font-size: 8px;
    padding: 7px 10px;
    left: 8%;
  }
  .popup-with-form {
    margin: 10px 0 0 50px;

  }
  footer .call {
    padding: 0!important;

  }
  footer .tel {
     margin: 25px 0 0 0;
  }
  footer .email {
    margin: 0 0 0 10px;
  }
  .popup-with-form {
    margin: 8px 0 0 10px;
    float: left;
  }
  .btn {
    padding: 2px 3px!important;
    font-size: 7px;
  }
  .menu{
    width: 130%;
    } 
  header {
    border: none;
  }
}
@font-face {
  font-family: 'CenturyGothicRegular';
  src: url('../fonts/GOTHIC.ttf');
}
